* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #e56262;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  aspect-ratio: 1/1;
  width: 300vw;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.esferaUno {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
  box-shadow: 28px 28px 31px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  animation: scaleOne 4s linear infinite;
}

@keyframes scaleOne {
  0% {
    scale: 0;
  }
  20% {
    scale: 1;
  }
  40% {
    scale: 1;
  }
  60% {
    scale: 1;
  }
  70% {
    scale: 1;
  }
  90% {
    scale: 0;
  }
  100% {
    scale: 0;
  }
}

.esferaDos {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background-color: white;
  box-shadow: 28px 28px 31px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  animation: scaleTwo 4s linear infinite;
}

@keyframes scaleTwo {
  0% {
    scale: 0;
  }
  15% {
    scale: 0;
  }
  30% {
    scale: 1;
  }
  60% {
    scale: 1;
  }
  85% {
    scale: 0;
  }
  100% {
    scale: 0;
  }
}

.esferaTres {
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background-color: white;
  box-shadow: 28px 28px 31px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  animation: scaleThree 4s linear infinite;
}

@keyframes scaleThree {
  0% {
    scale: 0;
  }
  30% {
    scale: 0;
  }
  40% {
    scale: 1;
  }
  55% {
    scale: 1;
  }
  70% {
    scale: 0;
  }
  100% {
    scale: 0;
  }
}
