* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3faf82;
}

.menu {
  aspect-ratio: 1/1;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  gap: 12%;
}

span {
  height: 10%;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  filter: drop-shadow(1px 1px 10px #0000004f);
}

.line3 {
  animation: buttomRev 700ms ease-in-out backwards;
}

@keyframes buttomRev {
  0% {
    transform: translateY(-225%) rotate(135deg);
  }

  50% {
    transform: translateY(-225%);
  }

  100% {
    transform: translateY(0%);
  }
}

.line2 {
  animation: centroRev 700ms ease-in-out forwards;
}

@keyframes centroRev {
  0%,
  50% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

.line1 {
  animation: topRev 700ms ease-in-out forwards;
}

@keyframes topRev {
  0% {
    transform: translateY(225%) rotate(45deg);
  }

  50% {
    transform: translateY(225%);
  }

  100% {
    transform: translateY(0%);
  }
}

.top {
  animation: top ease-in-out 700ms forwards;
}

@keyframes top {
  0% {
    transform: rotate(0deg);
  }
  50% {
    translate: translateY(225%);
  }
  100% {
    transform: translateY(225%) rotate(45deg);
  }
}

.centro {
  animation: centro 700ms ease-in-out forwards;
}

@keyframes centro {
  0% {
    scale: 1;
  }

  50%,
  100% {
    scale: 0;
  }
}

.buttom {
  animation: buttom 700ms ease-in-out forwards;
}

@keyframes buttom {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: translateY(-225%);
  }
  100% {
    transform: translateY(-225%) rotate(135deg);
  }
}
