@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  box-shadow: 1px 2px 10px 0px rgb(99, 99, 99);
  background: #1a2238;
  font-weight: 300;
  overflow: hidden;
  color: rgb(104, 104, 104);
}

/*Luna*/

.moon {
  position: absolute;
  width: 67px;
  height: 67px;
  top: 45px;
  left: 55px;
  border-radius: 50%;
  background: #f6edbd;
  overflow: hidden;
  box-shadow: 0 0 10px 0px #f6edbd;
  animation: rise 1s ease-in-out;
}

@keyframes rise {
  from {
    transform: translate(-20px, 200px);
  }
  to {
    transform: translate(0, 0);
  }
}

.crater-1,
.crater-2,
.crater-3 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 28px;
  border-radius: 50%;
  background: #ece1a8;
}

.crater-1 {
  top: 9px;
  left: 28px;
}

.crater-2 {
  top: 20px;
  left: 10px;
}

.crater-3 {
  top: 30px;
  left: 20px;
}

/*Hill*/

.hill-bg-1,
.hill-bg-2,
.hill-bf-1,
.hill-bf-2,
.hill-bf-3 {
  position: absolute;
  z-index: 20;

  width: 337px;
  height: 281px;
  background: #26314f;
  border-radius: 50%;
  top: 200px;
  left: -50px;
}

.hill-bg-2 {
  top: 197px;
  left: 177px;
}

.hill-bf-1,
.hill-bf-2,
.hill-bf-3 {
  background: #303c5d;
  top: 248px;
  left: -137px;
}

.hill-bf-2 {
  top: 221px;
  left: 63px;
}

.hill-bf-3 {
  top: 248px;
  left: 292px;
}

/* Info */

.front {
  position: absolute;
  z-index: 30;
  width: 400px;
  height: 90px;
  left: 0;
  bottom: 0;
  background-color: white;
}

.temperature {
  float: left;
  margin-left: 20px;
  font-size: 45px;
  line-height: 90px;
}

.info {
  float: left;
  margin: 25px 0 0 13px;
  font-size: 15px;
  line-height: 20px;
}

.preview {
  float: right;
  font-weight: 400;
  margin: 25px 0 0 13px;
  font-size: 15px;
  line-height: 20px;
  margin: 25px 20px 0 0;
}

.preview td {
  padding: 0 3px;
  text-transform: uppercase;
}

.preview td:first-child {
  font-weight: 300;
}

/* Rayn */

.drop-big-1,
.drop-medium-1,
.drop-small-1,
.drop-big-2,
.drop-medium-2,
.drop-small-2,
.drop-big-3,
.drop-medium-3,
.drop-small-3,
.drop-big-4,
.drop-medium-4,
.drop-small-4 {
  position: absolute;
  z-index: 20;
  left: 350px;
  bottom: 90px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7fc1f9;
  animation: drop 0.9s linear 1.08s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
}

.drop-big-1:before,
.drop-medium-1:before,
.drop-small-1:before,
.drop-big-2:before,
.drop-medium-2:before,
.drop-small-2:before,
.drop-big-3:before,
.drop-medium-3:before,
.drop-small-3:before,
.drop-big-4:before,
.drop-medium-4:before,
.drop-small-4:before {
  position: absolute;
  content: "";
  display: block;
  top: -2px;
  left: 1px;
  width: 6px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-big-1::after,
.drop-medium-1::after,
.drop-small-1::after,
.drop-big-2::after,
.drop-medium-2::after,
.drop-small-2::after,
.drop-big-3::after,
.drop-medium-3::after,
.drop-small-3::after,
.drop-big-4::after,
.drop-medium-4::after,
.drop-small-4::after {
  position: absolute;
  content: "";
  display: block;
  top: -5px;
  left: 2px;
  width: 4px;
  height: 6px;
  background: #7fc1f9;
  border-radius: 50%;
}

.drop-big-2 {
  left: 260px;
  top: 0;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  animation: drop 0.9s linear 0.24s infinite;
}

.drop-big-2:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-big-2::after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 4px;
}

.drop-big-3 {
  left: 200px;
  top: 40;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  animation: drop 0.9s linear 0.24s infinite;
}

.drop-big-3:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-big-3::after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 4px;
}

.drop-big-4 {
  left: 100px;
  top: 60;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  animation: drop 0.9s linear 0.24s infinite;
}

.drop-big-4:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-big-4::after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 4px;
}

.drop-medium-1 {
  left: 340px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  animation: drop 0.9s linear 0.24s infinite;
}

.drop-medium-1:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-1::after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 4px;
}

.drop-medium-2 {
  left: 260px;
  top: 80px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  animation: drop 0.9s linear 0.24s infinite;
}

.drop-medium-2:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-2::after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 4px;
}

.drop-medium-3 {
  left: 180px;
  top: 120px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  animation: drop 0.9s linear 0.24s infinite;
}

.drop-medium-3:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-3::after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 4px;
}

.drop-medium-4 {
  left: 100px;
  top: 60px;
  opacity: 0.6;
  width: 6px;
  height: 6px;
  animation: drop 0.9s linear 0.24s infinite;
}

.drop-medium-4:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-medium-4::after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 4px;
}

.drop-small-1 {
  left: 60px;
  top: 50px;
  opacity: 0.4;
  width: 4px;
  height: 4px;
  animation: drop 0.9s linear 0.24s infinite;
}

.drop-small-1:before {
  top: -2px;
  left: 1px;
  width: 4px;
  height: 4px;
}

.drop-small-1::after {
  top: -4px;
  left: 2px;
  width: 2px;
  height: 4px;
}

.drop-small-2 {
  left: 140px;
  top: 70px;
  opacity: 0.4;
  width: 4px;
  height: 4px;
  animation: drop 0.9s linear 0.48s infinite;
}

.drop-small-2:before {
  top: -1px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-2::after {
  top: -3px;
  left: 2px;
  width: 1px;
  height: 2px;
}

.drop-small-3 {
  left: 220px;
  top: 90px;
  opacity: 0.4;
  width: 4px;
  height: 4px;
  animation: drop 0.9s linear 0.48s infinite;
}

.drop-small-3:before {
  top: -1px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-3::after {
  top: -3px;
  left: 2px;
  width: 1px;
  height: 2px;
}

.drop-small-4 {
  left: 300px;
  top: 110px;
  opacity: 0.4;
  width: 4px;
  height: 4px;
  animation: drop 0.9s linear 0.48s infinite;
}

.drop-small-4:before {
  top: -1px;
  left: 1px;
  width: 2px;
  height: 2px;
}

.drop-small-4::after {
  top: -3px;
  left: 2px;
  width: 1px;
  height: 2px;
}

@keyframes drop {
  0% {
    transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1) rotate(17deg);
  }
  85% {
    transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(17deg);
  }
  100% {
    transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
  }
}
