* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: grid;
    place-items: center;

}

.container {
    height: 400px;
    width: 400px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.308) 1px 2px 10px 0px;
    background-color: rgb(76, 76, 76);
    color: white;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    display: grid;
    place-items: center;
}

.circulo {
    position: absolute;
    width: 212px;
    height: 212px;
    top: 87px;
    left: 87px;
    background: rgb(36, 36, 36);
    border: 7px solid rgb(58, 58, 58);
    border-radius: 50%;
    text-align: center;

    display: grid;
    place-items: center;
}

.esfera {
    position: absolute;
    height: 62%;
    width: 62%;
    transform: rotate(calc(5deg * var(--esfera)));
}

.puntos_1 {
    height: 2%;
    width: 2%;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.puntos_2 {
    height: 2%;
    width: 2%;
    right: 0;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.puntos_3 {
    height: 2%;
    width: 2%;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.puntos_4 {
    height: 2%;
    width: 2%;
    bottom: 0;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.spinner {
    position: absolute;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    top: px;
    left: px;
}

.spinner circle {
    fill: none;
    stroke: #f85b5b;
    stroke-width: 3;
    stroke-dasharray: 62s;
    animation: spinner 5s linier infinite;
    transform-origin: ;
}